html {
  background-color: gold;
}

.sketch-box__container {
  display: grid;
  max-width: 352px;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
}

.mouseover {
  background-color: red;
}

.clear-btn {
  color: white;
  background-color: black;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  border: none;
}

.clear-btn:hover {
  background-color: rgb(53, 52, 52);
  cursor: pointer;
}
